$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;

// import angular material scss
@import "angular-material/angular-material.scss";
body {
  color: #212121;
}
::-webkit-scrollbar {display:none;}
// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here
// Custom CSS starts here 
// By cwood - cwood@automatedinvestmentresearch.com 2016

// Global App Styles
a{color:#03A9F4 !important;}
.side-menu-badge {color:white !important;}
.pointer {cursor:pointer;}
.green {color:#4CAF50 !important;}
.red {color:#F44336 !important;}
.md-button.md-light-blue-theme.md-accent.md-raised, .md-button.md-light-blue-theme.md-accent.md-fab {color:white;}
.md-button.md-light-blue-theme.md-primary.md-raised, .md-button.md-light-blue-theme.md-primary.md-fab{background-color:#03A9F4;}
.md-fab-toolbar-background{background-color:#03A9F4 !important;}
.layout-margin.ng-scope{text-align:center;}
.last-updated {text-align: right;width: 98%;display: block;color: #545454;font-size: 10pt;margin-top: -15px;}
.showing {padding:5px 0px 0px 0px;}
md-fab-speed-dial.md-fab-bottom-right{position:fixed;}
.attributions{font-size: 12px; color: rgba(0, 0, 0, 0.54);}
.attributions a{color: inherit !important;}
// Top toolbar
md-toolbar.md-light-blue-white-theme:not(.md-menu-toolbar) {background-color: #03A9F4;color: rgb(250, 250, 250);}
md-toolbar.md-light-blue-white-theme:not(.md-menu-toolbar) md-icon {color:rgb(250, 250, 250);fill: rgb(250, 250, 250);}
// Sort and Filter Buttons
.sort-filter{float: left;border: 1px solid #E0E0E0;margin:0 5px 0 5px;box-shadow:none !important;}

// Symbol Cards
.symbol-cards-include{margin: 8px;}
.symbol-card {width: 32%;display: inline-block;text-align:left;margin: 8px;}
.symbol-card-table {display:table;width:100%;}
.symbol-card-row {display:table-row;}
.symbol-card-row1 {border-bottom: 1px solid #EEEEEE;}
.symbol-card-row1 .md-subhead {text-transform: uppercase;color: #9E9E9E;font-size: 13px;}
.symbol-card-cell {display:table-cell;}
.symbol-card-symbol-container {padding-bottom:15px;}
.symbol-card img {max-width: 100%;min-height: 210px;max-height: 225px;}
.chart-tab {height: auto;padding:0;background-color:white !important;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {color:#03A9F4;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper {background-color: transparent;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {color: #9E9E9E;border-bottom: 1px solid #fafafa;}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 290px;}
.symbol-card md-content {text-align: center;}
.symbol-card md-tab-content, .symbol-card md-tabs-content-wrapper{height:auto;padding-top: 10px;}
.symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){height:auto;}
.symbol-card md-card-content.ng-scope{padding-bottom:0;}
.external-links-menu-container{position: absolute;top: -5px;right: -15px;color: #9E9E9E;}
.external-links-menu-container-list > button > md-icon.md-light-blue-theme{color: #9E9E9E !important;}
.external-links-menu-item{height: auto;min-height: auto;}
.external-links-button{width: 100%;margin: auto;}

// Symbol Table
.symbol-table {background-color:white;}
.symbol-table-container {background-color:white;}
.symbol-table > thead > tr > th {font-size: 15px !important;}
.symbol-table.md-table th.md-column md-icon {height: 18px;min-height: 0px;}
.symbol-table.md-table td.md-cell {font-size:14px;}

// Symbol Table Pagination
.symbol-pagination{border-top:none;}

// Headlines Dialog
.headline-row1 {font-size: 13px !important; color: #9E9E9E;}

// Vitals Dialog
.vitals-table-container {width:50%;float:left;}
.vitals-table-container table {width:95%;}
.vitals-table-container tr {border-bottom:1px solid #EEEEEE; padding:10px;}
.vitals-table-container tr:last-child {border-bottom:none;}
.vitals-table-container tr:hover{background:#EEEEEE;}
.vitals-table-container td {color:#616161;padding:5px 0px 5px 0px;font-size: 19px;line-height: 45px}
.vitals-table-container td:first-child {padding-left:5px;}
.vitals-line-item-responsive {display:none;color: #9E9E9E !important;font-size: 13px !important;line-height: .1;padding-bottom: 10px;}

// Filters
.filter-tabs{min-height: 125px !important;overflow: hidden;background: white;padding-top: 0px;}
.filter-tabs md-tab-item.md-tab {width: 65px;padding: 12px 0px 0px 0px;flex-grow: 0;}
.filter-tab{background-color: white !important;font-size: 13pt;padding-top:15px;}
.filter-group md-select {margin-top:0;display: inline-block;padding: 0px 5px 0px 5px;}
.filter-group label {color:rgba(0,0,0,0.38);}
md-icon.filter-long-up-arrow {vertical-align: baseline;text-align: right;padding-right: 2px;}

// Sorts
.sort-text-center {text-align:center;}
.reset-menu-container {position: absolute;top: 60px;right: 20px;}

// Views
md-icon.material-icons.ng-scope.md-light-blue-theme.md-font.zmdi.zmdi-view-list.view-icons{line-height:21px;}

//////////

// Dashboard
.dashboard-trophy{font-size: 18px !important;text-align: center;line-height: 22px !important;}
.calendar-heatmap > svg.svg {width:100% !important;}
.list-subhead{float:right;color: rgba(0,0,0,0.54);font-size: 14px;}
.ninety-day-outlook-responsive{display:none;}

//////////

// Symbol Lookup
.lookup-card {width: 60%;min-width: 300px;margin: auto;padding: 0px 5px 0px 5px;}
.lookup-container {margin-bottom:0;}
.lookup-chart-card {width:100%;height:500px;}
.lookup-chart {height:500px;}
.lookup-vitals-table-container {padding:25px;}
.lookup-vitals-table-container table {width:100%;}
.lookup-vitals-table-container tr {border-bottom:1px solid #EEEEEE; padding:10px;}
.lookup-vitals-table-container tr:last-child {border-bottom:none;}
.lookup-vitals-table-container tr:hover{background:#EEEEEE;}
.lookup-vitals-table-container td {color:#616161;padding:5px 0px 5px 0px;font-size: 19px;line-height: 45px}
.lookup-vitals-table-container td:first-child {padding-left:5px;}
.lookup-widget {background-size: 122px !important;background-repeat: no-repeat;background-position-y: -6px;background-position-x: 10px;text-align: right;}
.lookup-sec{background-image: url(../../../assets/images/sec-logo.png);background-blend-mode: difference;color:rgb(136, 106, 58) !important}
.lookup-google{background-image: url(../../../assets/images/google.png);}
.lookup-quandl{background-image: url(../../../assets/images/quandl.svg);}
.lookup-yahoo{background-image: url(../../../assets/images/yahoo.png);}
#lookup-resources a:hover{text-decoration:none;}

//////////

// Responsive
@media all and (max-width:1280px){ /* Laptop */
    .symbol-card{margin:7px !important;}
}
@media all and (max-width:1175px){.symbol-card{width: 48%;}} /* Laptop */
@media all and (max-width:1125px){.lookup-widget {background-size: 112px !important;background-position-y: -2px;}}
@media all and (max-width:1110px){.calendar-heatmap {display:none;}} /* Laptop */
@media all and (max-width:1085px){.lookup-widget {background-size: 100px !important;background-position-y: 4px;}}
@media all and (max-width:1050px){.lookup-widget {background-size: 90px !important;background-position-y: 8px;}}
@media all and (max-width:1024px){ /* Laptop */
    .lookup-card {width: 85%;}
    .lookup-chart-card {height:400px;}
    .lookup-chart {height:400px;}
}
@media all and (max-width:1000px){.lookup-widget {background-size: 80px !important;background-position-y: 12px;}}
@media all and (max-width:959px){.lookup-widget {background-size: 122px !important;background-position-y: -6px;}}
@media all and (max-width:900px){ 
    .vitals-line-item-responsive{display:block;}
    .vitals-line-item{display:none;}
}
@media all and (max-width:880px){
    .ninety-day-outlook-responsive{display: block;}
    #ninety-day-outlook{display:none;}
}
@media all and (max-width:830px){
    .filter-group md-select {width:45%} 
    .filter-tabs {min-height: 235px !important;}
}
@media all and (max-width:800px){ /* Nexus 10 */
    .symbol-card{width: 95%;height:500px;}
    .symbol-card img {max-height:none;}
    .symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {height: 400px;}
}
@media all and (max-width:768px){ /* Generic Tablet */
    .lookup-card {width: 95%;}
    .lookup-chart-card {width:100%;height:375px;}
    .lookup-chart {width:100%;height:375px;}
}

@media all and (max-width:730px){
    .symbol-card{width: 95%;height:auto;}
    .symbol-card img {max-width: 100%;min-height: 210px;max-height: 225px;}
    .symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {height: auto;}
    .filter-group label {display:block;}
}

@media all and (max-width:525px){ .views-buttons{display: block;margin: auto;}}

@media all and (max-width:500px){ /* Nexus 6P, Nexus 5X */
    .symbol-card{width:97%;margin-bottom:5px;}
    .lookup-chart-card {height:350px;}
    .lookup-chart {height:350px;}
}

@media all and (max-width: 450px){
    .padded-content-page{padding: 16px 0 !important}
    .reset-menu-container {right: 0px;}
}
@media all and (max-width:425px){
    .list-subhead{float:none;display:block;}
}
@media all and (max-width:414px){ /* iPhone 6 Plus, Nexus 5X */

}
@media all and (max-width:375px){ /* iPhone 6 */

}
@media all and (max-width:360px){ /* Nexus 5 */
    .symbol-card-row1 .md-subhead{font-size:11px;}
    .md-body-1{font-size:13px;}
}
@media all and (max-width:325px){ /* iPhone 4, iPhone 5 */
    .symbol-card-row1 .md-subhead{font-size:10px;}
    .lookup-chart-card {height:300px;}
    .lookup-chart {height:300px;}
}



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
