$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;

// import angular material scss
@import "angular-material/angular-material.scss";
body {
  color: #212121;
}
::-webkit-scrollbar {display:none;}
// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here
// Custom CSS starts here - cwood cwood@automatedinvestmentresearch.com 2016

// Global App Styles
a{color:#03A9F4 !important;}
.side-menu-badge {color:white !important;}
.pointer {cursor:pointer;}
.green {color:#4CAF50;}
.red {color:#F44336;}
.md-button.md-light-blue-theme.md-accent.md-raised, .md-button.md-light-blue-theme.md-accent.md-fab {color:white;}
.md-button.md-light-blue-theme.md-primary.md-raised, .md-button.md-light-blue-theme.md-primary.md-fab{background-color:#03A9F4;}
.md-fab-toolbar-background{background-color:#03A9F4 !important;}
.layout-margin.ng-scope{text-align:center;}
// Symbol Cards
.symbol-cards-include{margin:0;}
.symbol-card {width: 32%;display: inline-block;text-align:left;margin: 8px;}
.symbol-card-row1 {border-bottom: 1px solid #EEEEEE;}
.symbol-card-row1 .md-subhead {text-transform: uppercase;color: #9E9E9E;font-size: 13px;}
.symbol-card img {max-width: 100%;min-height: 210px;max-height: 225px;}
.chart-tab {height: auto;padding:0;background-color:white !important;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {color:#03A9F4;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper {background-color: transparent;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {color: #9E9E9E;border-bottom: 1px solid #fafafa;}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 290px;}
.symbol-card md-content {text-align: center;}
.symbol-card md-tab-content, .symbol-card md-tabs-content-wrapper{height:auto;padding-top: 10px;}
.symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){height:auto;}
.symbol-card md-card-content.ng-scope{padding-bottom:0;}
// Headlines Dialog
.headline-row1 {font-size: 13px !important; color: #9E9E9E;}
// Vitals Dialog
.vitals-table-container {width:50%;float:left;}
.vitals-table-container table {width:95%;}
.vitals-table-container tr {border-bottom:1px solid #EEEEEE; padding:10px;}
.vitals-table-container tr:last-child {border-bottom:none;}
.vitals-table-container tr:hover{background:#EEEEEE;}
.vitals-table-container td {color:#616161;padding:5px 0px 5px 0px;font-size: 19px;line-height: 45px}
.vitals-table-container td:first-child {padding-left:5px;}
.vitals-line-item-responsive {display:none;color: #9E9E9E !important;font-size: 13px !important;line-height: .1;padding-bottom: 10px;}
// Filters
.filter-tabs{
    min-height: 125px !important;
    overflow: hidden;
    background: white;
    padding-top: 0px;
}
.filter-tabs md-tab-item.md-tab {
    width: 65px;
    padding: 12px 0px 0px 0px;
    flex-grow: 0;
}
.filter-tab{
    background-color: white !important;
    font-size: 13pt;
    padding-top:15px;
}
.filter-group md-select {margin-top:0;display: inline-block;padding: 0px 5px 0px 5px;}
.filter-group label {color:rgba(0,0,0,0.38);}
md-icon.filter-long-up-arrow {vertical-align: baseline;text-align: right;padding-right: 2px;}
// Sorts
.sort-text-center {text-align:center;}
.reset-menu-container {
    position: absolute;
    top: 20px;
    right: 20px;
}
// Responsive
@media all and (max-width:1280px){ /* Laptop */
    .symbol-card{margin:7px !important;}
}
@media all and (max-width:1175px){.symbol-card{width: 48%;}} /* Laptop */
@media all and (max-width:1024px){ /* Laptop */
	
}
@media all and (max-width:900px){ 
    .vitals-line-item-responsive{display:block;}
    .vitals-line-item{display:none;}
}
@media all and (max-width:830px){
    .filter-group md-select {display:block;} 
    .filter-tabs {min-height: 135px !important;}
}
@media all and (max-width:800px){ /* Nexus 10 */
    .symbol-card{width: 95%;height:500px;}
    .symbol-card img {max-height:none;}
    .symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {height: 400px;}
}
@media all and (max-width:768px){ /* Generic Tablet */

}

@media all and (max-width:730px){
    .symbol-card{width: 95%;height:auto;}
    .symbol-card img {max-width: 100%;min-height: 210px;max-height: 225px;}
    .symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {height: auto;}
    .filter-group label {display:block;}
}
@media all and (max-width:500px){ /* Nexus 6P, Nexus 5X */
    .symbol-card{width:97%;margin-bottom:5px;}
}

@media all and (max-width: 450px){
    .padded-content-page{padding:0 !important;}
}
@media all and (max-width:414px){ /* iPhone 6 Plus, Nexus 5X */

}
@media all and (max-width:375px){ /* iPhone 6 */

}
@media all and (max-width:360px){ /* Nexus 5 */
    .symbol-card-row1 .md-subhead{font-size:11px;}
    .md-body-1{font-size:13px;}
}
@media all and (max-width:325px){ /* iPhone 4, iPhone 5 */
    .symbol-card-row1 .md-subhead{font-size:10px;}
}



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
