/var/www/html/source/.tmp/*
/var/www/html/source/src/app/air/update-data.sh
/var/www/html/source/src/app/air/decision-engine/data/*.csv
/var/www/html/source/src/app/air/alerts/data/*.json
/var/www/html/source/src/app/air/watchlist/data/*.json
/var/www/html/source/src/app/air/market-movers/data/*.json
/var/www/html/source/src/app/air/decision-engine/data/*.json
/var/www/html/source/src/app/air/earnings-calendar/data/*.json
/var/www/html/source/src/app/air/alerts/data/symbols.txt
/var/www/html/source/src/app/air/watchlist/data/symbols.txt
/var/www/html/source/src/app/air/market-movers/data/symbols.txt
/var/www/html/source/src/app/air/earnings-calendar/data/symbols.txt
/var/www/html/source/src/app/air/earnings-calendar/data/ecal-daily-symbols
/var/www/html/source/src/app/air/earnings-calendar/data/ecal-update-symbols
