<h3 class="md-subhead">{{vm.list}}
    <md-subhead class="list-subhead">

<md-select placeholder="{{vm.latest}}" ng-model="vm.day" ng-change="vm.activate()">
    <md-option value="{{vm.latest}}"> {{vm.latest}} </md-option>
    <md-option value="{{vm.nextDay}}">{{vm.nextDay}}</md-option>
</md-select>

    </md-subhead>
</h3>
<div ng-show="vm.emptySet" class="center-text" >No symbols found in latest query</div>
<md-table-container ng-show="!vm.mainLoader">
    <table md-table ng-show="!vm.emptySet" class="md-primary md-data-table symbol-table">
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th md-column md-order-by="symbol">Symbol</th>
                <th md-column >Daily</th>
                <th md-column md-order-by="price">Price</th>
                <th md-column md-order-by="percentChange">% Change</th>
                <th md-column md-order-by="when">When</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="symbol in vm.symbols | orderBy: vm.query.order | limitTo: vm.ecalPageSize : (vm.ecalCurPage - 1) * vm.ecalPageSize track by symbol.id">
                <td md-cell class="symbol-container">
                    <div class="pointer">{{symbol.symbol}}<md-tooltip>{{symbol.name}}</md-tooltip></div>
                </td>

                <td md-cell class="chart-container" ng-mouseLeave="vm.hideInteractive();">
                    <!-- <div google-chart chart="vm.chartData"></div> -->
                        <nvd3  options="vm.lineChartOptions" data="symbol.chart"></nvd3>
                </td>

                <td md-cell>
                    {{symbol.price | number:2}}
                </td>

                <td md-cell>
                    <div class="md-body-1" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">
                      <span ng-show="symbol.dollarChange > 0"> +</span>{{symbol.percentChange | number:2}}%
                    </div>
                </td>

                <td md-cell class="no-padding">
                    <div class="md-body-1">
                      <md-icon md-font-icon="wi wi-night-clear"  class="purple" ng-show="symbol.when == 1"></md-icon>
                      <md-icon md-font-icon="wi wi-horizon-alt"  class="blue" ng-show="symbol.when == 2"></md-icon>
                      <md-icon md-font-icon="wi wi-day-sunny"  class="yellow" ng-show="symbol.when == 3"></md-icon>
                      <md-icon md-font-icon="fa fa-question"  class="light-gray" ng-show="symbol.when == 4"></md-icon>
                    </div>
                </td>

                <td md-cell>
                    <md-menu class="external-links-menu-container-list">
                        <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item class="external-links-menu-item">
                                <md-button class="blue md-flat external-links-button" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</md-button>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={{symbol.symbol}}&type=&dateb=&owner=include&count=100" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="SEC Filings">SEC Filings</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.google.com/finance?q={{symbol.symbol}}&fstype=ii" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Financial Statements">Statements</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://finance.yahoo.com/q/ks?s={{symbol.symbol}}+Key+Statistics" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Yahoo Finance Statistics">Yahoo! Stats</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://www.shortsqueeze.com?symbol={{symbol.symbol}}" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Short Interest">Short Interest</md-button>
                                </a>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>

            </tr>
        </tbody>
    </table>
</md-table-container>
<md-progress-circular ng-show="vm.mainLoader" class="md-accent mainLoader" md-mode="indeterminate"></md-progress-circular>
<md-table-pagination md-limit="vm.ecalPageSize"  md-page-select md-page="vm.ecalCurPage" md-total="{{vm.symbols.length}}"></md-table-pagination>
