<md-toolbar class="md-table-toolbar md-default">
    <h3 class="md-subhead">{{vm.list}}</h3>
        <!-- Symbol Filter -->
        <md-input-container class="no-margin search-container" ng-show="vm.showSearch">
            <label>Search</label>
            <input type="text" ng-model="search" show-focus="vm.showSearch">
        </md-input-container>
        <!-- Table Controls -->
        <div class="list-buttons top">
            <md-button aria-label="filter" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" ng-click="vm.openSidebar('filter-sidebar')">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>
            <md-menu>
                <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                    <md-icon md-font-icon="zmdi zmdi-view-column"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="column in vm.columnsMenu" >
                        <md-input-container class="md-block">
                            <md-checkbox class="md-primary" ng-click="vm.columnClick(column.index,!column.checked)" ng-model="column.checked" ng-disabled="{{column.disabled}}" aria-label="{{column.label}}">{{column.name}}</md-checkbox>
                        </md-input-container>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
</md-toolbar>

<div ng-show="vm.emptySet" class="center-text" >No symbols found in latest query</div>
<md-table-container ng-show="!vm.mainLoader">
    <table md-table ng-show="!vm.emptySet" class="md-primary md-data-table symbol-table">
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th md-column class="no-padding" md-order-by="symbol">Symbol</th>
                <th md-column class="no-padding dotted-underline" md-order-by="price" ng-show="vm.showPrice">Price<md-tooltip>Latest daily close</md-tooltip></th></div>
                <th md-column class="no-padding" md-order-by="announceDate" ng-show="vm.showWhen">When</th>
                <th md-column class="no-padding dotted-underline" md-order-by="change">Change<md-tooltip>Change since earnings day close</md-tooltip></th>
                <th md-column class="no-padding" md-order-by="avgVol" ng-show="vm.showAvgVol">Avg Vol</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="symbol in vm.filtered = (vm.symbols | filter: vm.filterFn() | filter: vm.avgVolFilter() ) | 
            orderBy: vm.query.order | limitTo: vm.ecalPageSize : (vm.ecalCurPage - 1) * vm.ecalPageSize track by symbol.id">
                <td md-cell class="no-padding">
                    <div class="pointer">{{symbol.symbol}}</div>
                </td>

                <td md-cell ng-show="vm.showPrice">
                    {{symbol.price | number:2}}
                </td>

                <td md-cell class="no-padding" style="min-width:90px;" ng-show="vm.showWhen">
                    <div class="md-body-1">
                        {{symbol.announceDate | amDateFormat:'MMM Do'}}
                    </div>
                </td>

                <td md-cell class="no-padding">
                    <div class="md-body-1" ng-class="{'green': symbol.change > 0,'red':symbol.change < 0}">
                      <span ng-show="symbol.change > 0"> +</span>{{symbol.change | number:2}}%
                    </div>
                </td>

                <td md-cell class="no-padding" ng-show="vm.showAvgVol">
                    <div class="md-body-1" ng-show="{{symbol.avgVol == 0}}">-</div>
                    <div class="md-body-1" ng-hide="{{symbol.avgVol == 0}}">{{symbol.avgVol | number:0}}</div>
                </td>

                <td md-cell class="no-padding">
                    <md-menu class="external-links-menu-container-list">
                        <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item class="external-links-menu-item">
                                <md-button class="blue md-flat external-links-button" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</md-button>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={{symbol.symbol}}&type=&dateb=&owner=include&count=100" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="SEC Filings">SEC Filings</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.google.com/finance?q={{symbol.symbol}}&fstype=ii" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Financial Statements">Statements</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://finance.yahoo.com/q/ks?s={{symbol.symbol}}+Key+Statistics" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Yahoo Finance Statistics">Yahoo! Stats</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://www.shortsqueeze.com?symbol={{symbol.symbol}}" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Short Interest">Short Interest</md-button>
                                </a>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>

            </tr>
        </tbody>
    </table>
</md-table-container>
<!--<md-progress-circular ng-show="vm.mainLoader" class="md-accent mainLoader" md-mode="indeterminate"></md-progress-circular>-->
<div id="container" class="mainLoader card-loader" ng-show="vm.mainLoader"><div class="pulse"></div><div class="dot">A</div></div>
<md-table-pagination class="no-border" md-limit="vm.ecalPageSize"  md-page-select md-page="vm.ecalCurPage" md-total="{{vm.symbols.length}}"></md-table-pagination>

<!-- Filter Sidebar -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2 inner-sidenav" md-component-id="filter-sidebar">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    <!-- Price Filter -->
    <md-subheader class="md-primary">
        Price: ${{vm.slider.min}} - ${{vm.slider.max}}
        <md-switch class="md-accent filter-toggles" ng-disabled="vm.priceDisabled" ng-model="vm.priceToggle" aria-label="Price Toggle" ng-change="vm.priceFilterCheck(vm.priceToggle)"></md-switch>
    </md-subheader>
    <div class="md-padding">
        <rzslider
            rz-slider-model="vm.slider.min"
            rz-slider-high="vm.slider.max"
            rz-slider-options="vm.slider.options">
        </rzslider>
    </div>
    <!-- Average Volume Filter -->
    <md-subheader class="md-primary">
        Avg Vol:
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.avgVol > 0"></md-icon>
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.avgVol < 0"></md-icon>
        <span ng-hide="vm.avgVolIndicator =='Any'">{{vm.avgVolIndicator | numeraljs:'0a'}}</span>
        <md-switch class="md-accent filter-toggles" ng-disabled="vm.avgVolDisabled" ng-model="vm.avgVolToggle" aria-label="Average Volume Filter Toggle" ng-change="vm.avgVolFilterCheck(vm.avgVolDisabled)"></md-switch>
    </md-subheader>
    <md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.avgVol" ng-change="vm.avgVolChange()">
        <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterAdv in vm.filterAdv"  ng-model="vm.avgVolRadio" value="{{filterAdv.value}}" aria-label="Show symbols over {{filterAdv.text}}" >
            <md-icon class=" material-icons zmdi zmdi-long-arrow-up filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterAdv.text}}
        </md-radio-button>
    </md-radio-group>
    <md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.avgVol" ng-change="vm.avgVolChange()">
        <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterAdv in vm.filterAdv"  ng-model="vm.avgVolRadio" value="{{filterAdv.value * -1}}" aria-label="Show symbols over {{filterAdv.text}}" >
            <md-icon class=" material-icons zmdi zmdi-long-arrow-down filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterAdv.text}}
        </md-radio-button>
    </md-radio-group>
</md-sidenav>

