<h3 class="md-subhead">{{vm.list}}</h3>
<div ng-show="vm.emptySet" class="center-text" >No symbols found in latest query</div>
<md-table-container ng-show="!vm.mainLoader">
    <table md-table ng-show="!vm.emptySet" class="md-primary md-data-table symbol-table">
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th md-column class="no-padding" md-order-by="symbol">Symbol</th>
                <th md-column class="no-padding" md-order-by="announceDate">When</th>
                <th md-column class="no-padding" md-order-by="changeOpen">Change <br />From Open</th>
                <th md-column class="no-padding" md-order-by="changeClose">Change <br />From Close</th>
                <th md-column class="no-padding" md-order-by="avgVol">Avg Vol</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="symbol in vm.symbols | orderBy: vm.query.order | limitTo: vm.ecalPageSize : (vm.ecalCurPage - 1) * vm.ecalPageSize track by symbol.id">
                <td md-cell class="no-padding">
                    <div class="pointer">{{symbol.symbol}}</div>
                </td>

                <td md-cell class="no-padding" style="min-width:90px;">
                    <div class="md-body-1">
                        {{symbol.announceDate}}
                    </div>
                </td>

                <td md-cell class="no-padding">
                    <div class="md-body-1" ng-class="{'green': symbol.changeOpen > 0,'red':symbol.changeOpen < 0}">
                      <span ng-show="symbol.changeOpen > 0"> +</span>{{symbol.changeOpen | number:2}}%
                    </div>
                </td>
                <td md-cell class="no-padding">
                    <div class="md-body-1" ng-class="{'green': symbol.changeClose > 0,'red':symbol.changeClose < 0}">
                      <span ng-show="symbol.changeClose > 0"> +</span>{{symbol.changeClose | number:2}}%
                    </div>
                </td>

                <td md-cell class="no-padding">
                    <div class="md-body-1" ng-show="{{symbol.avgVol == 0}}">-</div>
                    <div class="md-body-1" ng-hide="{{symbol.avgVol == 0}}">{{symbol.avgVol | number:0}}</div>
                </td>

                <td md-cell class="no-padding">
                    <md-menu class="external-links-menu-container-list">
                        <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item class="external-links-menu-item">
                                <md-button class="blue md-flat external-links-button" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</md-button>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={{symbol.symbol}}&type=&dateb=&owner=include&count=100" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="SEC Filings">SEC Filings</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.google.com/finance?q={{symbol.symbol}}&fstype=ii" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Financial Statements">Statements</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://finance.yahoo.com/q/ks?s={{symbol.symbol}}+Key+Statistics" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Yahoo Finance Statistics">Yahoo! Stats</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://www.shortsqueeze.com?symbol={{symbol.symbol}}" target="_blank">
                                    <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Short Interest">Short Interest</md-button>
                                </a>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>

            </tr>
        </tbody>
    </table>
</md-table-container>
<md-progress-circular ng-show="vm.mainLoader" class="md-accent mainLoader" md-mode="indeterminate"></md-progress-circular>
<md-table-pagination class="no-border" md-limit="vm.ecalPageSize"  md-page-select md-page="vm.ecalCurPage" md-total="{{vm.symbols.length}}"></md-table-pagination>
