<tri-widget flex flex-xs="100" ng-repeat="symbol in vm.symbols | filter:vm.price | filter:vm.volume | filter:vm.avgVol | filter:vm.mktCap | filter:vm.float | filter:vm.short | filter:vm.time | orderBy:vm.sortPrice | orderBy:vm.sortVolume | orderBy:vm.sortAvgVol | orderBy:vm.sortMktCap | orderBy:vm.sortFloat | orderBy:vm.sortShort" content-padding class="symbol-card">
     <md-card-content>
         <table style="width:100%">
                    <tr class="symbol-card-row1">
                        <td><span class="md-subhead">Symbol</span></td>
                        <td><span class="md-subhead">Price</span></td>
                        <td><span class="md-subhead">Quick View</span></td>
                   </tr>
                    <tr>
                        <td style="padding-bottom: 15px;">
                            <span class="md-headline">{{symbol.symbol}}</span><br>
                            <span class="md-body-1">{{symbol.name}}</span><br>
                        </td>
                        <td>
                            <span class="md-body-2" >{{symbol.price | number:2}}</span><br>
                            <span class="md-body-1" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">{{symbol.dollarChange | number:2}} ({{symbol.percentChange | number:2}}%)</span><br>
                        </td>
                        <td>
                            <span class="md-body-1 pointer" style="color:#03a9f4" data-symbol="{{symbol.symbol}}" data-open="{{symbol.vitals.open}}"  ng-disabled="dialogForm.$invalid" ng-click="vm.openVitals($event, symbol)">Vitals</span><br>

                            <span class="md-body-1 pointer" style="color:#03a9f4" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</span>
                        </td>
                    </tr>
        </table>
                <md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always">
                   <md-tab label="1D">
                        <md-content class="md-padding chart-tab"><img src="{{symbol.oneDay}}"></md-content>
                    </md-tab>
                    <!-- <md-tab label="1M">
                        <md-content class="md-padding chart-tab"><img src="{{symbol.oneMonth}}"></md-content>
                   </md-tab>-->
                   <md-tab label="3M">
                       <md-content class="md-padding chart-tab">
                          <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img ng-src="{{symbol.threeMonth}}"></a>
                       </md-content>
                   </md-tab>
                   <md-tab label="6M">
                       <md-content class="md-padding chart-tab">
                           <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.sixMonth}}"></a>
                       </md-content>
                   </md-tab>
                   <md-tab label="1YR">
                       <md-content class="md-padding chart-tab">
                           <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.oneYear}}"></a>
                          <div layout="column" layout-align="center center" flex>
                              <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">
</a>
                          </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-card-content>
</tri-widget>
