<tri-widget flex flex-xs="100" ng-repeat="symbol in vm.filtered = (vm.symbols | filter:vm.price | filter:vm.volume | filter:vm.avgVol | filter:vm.mktCap | filter:vm.float | filter:vm.short | filter:vm.time) | orderBy: '-percentChange' | orderBy:vm.sortPrice | orderBy:vm.sortPercentChange | orderBy:vm.sortVolume | orderBy:vm.sortAvgVol | orderBy:vm.sortMktCap | orderBy:vm.sortFloat | orderBy:vm.sortShort | orderBy:vm.sortSymbol  | limitTo: vm.pageSize : (vm.curPage - 1) * vm.pageSize | filter:vm.price | filter:vm.volume | filter:vm.avgVol | filter:vm.mktCap | filter:vm.float | filter:vm.short | filter:vm.time" content-padding class="symbol-card">
    <md-card-content>
        <div class="symbol-card-table">
            <div class="symbol-card-row symbol-card-row1">
                <div class="symbol-card-cell"><span class="md-subhead">Symbol</span></div>
                <div class="symbol-card-cell"><span class="md-subhead">List</span></div>
                <div class="symbol-card-cell"><span class="md-subhead">View</span></div>
            </div>
            <div class="symbol-card-row">
                <div class="symbol-card-cell symbol-card-symbol-container">
                    <span class="md-headline">{{symbol.symbol}}</span><br>
                    <span class="md-body-1">{{symbol.name}}</span><br>
                </div>
                <div class="symbol-card-cell">
                    <span class="md-body-2" >{{symbol.price | number:2}}</span><br>
                    <span class="md-body-1" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">{{symbol.dollarChange | number:2}} ({{symbol.percentChange | number:2}}%)</span><br>
                </div>
                <div class="symbol-card-cell">
                    <span class="md-body-1 pointer" style="color:#03a9f4" data-symbol="{{symbol.symbol}}" data-open="{{symbol.vitals.open}}"  ng-disabled="dialogForm.$invalid" ng-click="vm.openVitals($event, symbol)">Vitals</span><br>
                    <span class="md-body-1 pointer" style="color:#03a9f4" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</span>
                </div>
            </div>
        </div>
        <md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always">
            <md-tab label="1D">
                <md-content ng-hide="{{symbol.oneDayNull == 1}}" class="md-padding chart-tab"><a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.oneDay}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.oneDayNull == 1}}" class="md-padding chart-tab">A one day chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
            <!-- <md-tab label="1M">
                <md-content class="md-padding chart-tab"><img src="{{symbol.oneMonth}}"></md-content>
            </md-tab>-->
            <md-tab label="3M">
                <md-content ng-hide="{{symbol.threeMonthNull == 1}}" class="md-padding chart-tab">
                    <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img ng-src="{{symbol.threeMonth}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.threeMonthNull == 1}}" class="md-padding chart-tab">A three month chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
            <md-tab label="6M">
                <md-content ng-hide="{{symbol.sixMonthNull == 1}}" class="md-padding chart-tab">
                    <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.sixMonth}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.sixMonthNull == 1}}" class="md-padding chart-tab">A six month chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
            <md-tab label="1YR">
                <md-content ng-hide="{{symbol.oneYearNull == 1}}" class="md-padding chart-tab">
                    <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.oneYear}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.oneYearNull == 1}}" class="md-padding chart-tab">A one year chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
        </md-tabs>
    </md-card-content>
</tri-widget>
<md-table-pagination md-limit="vm.pageSize" md-limit-options="vm.limitOptions"  md-page-select md-page="vm.curPage" md-total="{{vm.filtered.length}}" class="symbol-pagination"></md-table-pagination>
