<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span ng-show="!vm.showSearch"><h2 class="md-title">{{vm.list}}</h2><md-tooltip ng-show="vm.list == 'Calendar Movers'">{{vm.listDay}}</md-tooltip></span>
        <!-- Symbol Filter -->
        <md-input-container class="no-margin search-container" ng-show="vm.showSearch">
            <label>Search</label>
            <input type="text" ng-model="search" show-focus="vm.showSearch">
        </md-input-container>
        <!-- Table Controls -->
        <div class="list-buttons" hide-gt-xs ng-show="!vm.showSearch">
            <md-button aria-label="refresh" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" ng-show="vm.refreshToggle == 1" ng-click="vm.activate()">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-replay zmdi-hc-fw zmdi-hc-flip-horizontal animated infinite pulsate" ></md-icon>
            </md-button>
        </div>
        <div class="list-buttons" hide-xs>
            <md-button aria-label="refresh" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" ng-show="vm.refreshToggle == 1" ng-click="vm.activate()">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-replay zmdi-hc-fw zmdi-hc-flip-horizontal animated infinite pulsate" ></md-icon>
            </md-button>
            <md-button aria-label="search" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" ng-click="vm.showSearch = !vm.showSearch">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-search" ></md-icon>
            </md-button>
            <md-datepicker id="datepicker" ng-show="vm.currentPath === '/earnings-calendar'" ng-model="vm.snapshotDate" md-placeholder="Enter date" md-date-filter="vm.noWeekendsPredicate" md-open-on-focus ng-change="vm.activate()" md-hide-icons="triangle"></md-datepicker>
            <!--<md-button aria-label="sort" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" ng-click="vm.openSidebar('sort-sidebar') ">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-sort-asc"></md-icon>
            </md-button>-->
            <md-button aria-label="filter" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" ng-click="vm.openSidebar('filter-sidebar')">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>
            <md-button aria-label="download symbols" class="md-icon-button md-button ng-scope md-light-blue-white-theme md-ink-ripple" download="symbols.txt" ng-href="http://automatedinvestmentresearch.com/app/app/air{{vm.currentPath}}/data/symbols.txt">
                <md-icon class="list-buttons-icon" md-font-icon="zmdi zmdi-download"></md-icon>
            </md-button>
            <md-menu>
                <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                    <md-icon md-font-icon="zmdi zmdi-view-column"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="column in vm.columnsMenu" >
                        <md-input-container class="md-block">
                            <md-checkbox class="md-primary" ng-click="vm.columnClick(column.index,!column.checked)" ng-model="column.checked" ng-disabled="{{column.disabled}}" aria-label="{{column.label}}">{{column.name}}</md-checkbox>
                        </md-input-container>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table id="chart-list-table" class="md-primary md-data-table symbol-table">
        <thead md-head md-order="vm.query.order">
            <tr md-row>
                <th ng-repeat="col in vm.cols" md-column class="md-subhead" md-order-by="{{col.order}}" ng-show="{{col.show}}">{{col.name}}</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="symbol in vm.filtered = (vm.symbols | filter: vm.filterFn() | filter:vm.volumeFilter() | filter: vm.avgVolFilter() | filter: {symbol:search}) | 
            orderBy: vm.query.order| limitTo: vm.pageSize : (vm.curPage - 1) * vm.pageSize track by symbol.id" ng-click="vm.lookup(symbol);">
                <td md-cell class="symbol-container">
                    <div class="list-symbol">{{symbol.symbol}}<md-tooltip ng-hide="vm.currentPath === '/ecalAfter' || vm.currentPath === '/ecalPre'">{{symbol.name}}</md-tooltip></div>
                    <div class="md-body-1" ng-show="vm.currentPath === '/alerts'">
                        <md-icon class="material-icons fa fa-bell-o toggle-filter-long-up-arrow" aria-hidden="true"></md-icon>
                        <md-icon class="material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true"></md-icon>
                        {{symbol.triggerPrice | number:2}}
                    </div>
                </td>

                <td md-cell class="chart-container">
                    <!-- <div google-chart chart="vm.chartData"></div> -->
                        <a href="{{symbol.chartUrl}}" target="_blank"><nvd3 class="pointer" options="vm.lineChartOptions" data="symbol.chart" ></nvd3></a>
                </td>
                <td md-cell ng-show="vm.showPrice">
                    {{symbol.price | number:2}}
                </td>
                <td md-cell ng-show="vm.showDollarChange">
                    <div class="md-body-2">
                        <span class="md-body-1" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">
                           <span ng-show="symbol.dollarChange > 0"> +</span>{{symbol.dollarChange | number:2}}
                        </span>
                    </div>
                </td>
                <td md-cell ng-show="vm.showPercentChange">
                    <div class="md-body-1" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">
                      <!--<md-icon md-font-icon="zmdi zmdi-long-arrow-up" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}" class="long-arrow"></md-icon>-->
                      <span ng-show="symbol.dollarChange > 0"> +</span>{{symbol.percentChange | number:2}}%
                    </div>
                </td>

                <td md-cell ng-show="vm.showVolume">
                    <div class="md-body-1" ng-show="{{symbol.volume == 0}}">-</div>
                    <div class="md-body-1" ng-hide="{{symbol.volume == 0}}">{{symbol.volume | number:0}}</div>
                </td>

                <td md-cell ng-show="vm.showAvgVol">
                    <div class="md-body-1" ng-show="{{symbol.avgVol == 0}}">-</div>
                    <div class="md-body-1" ng-hide="{{symbol.avgVol == 0}}">{{symbol.avgVol | number:0}}</div>
                </td>

                <td md-cell ng-show="vm.showDistance">
                    <div class="md-body-1" ng-show="symbol.distance <= 0">Triggered</div>
                    <div class="md-body-1" ng-show="symbol.distance > 0">{{symbol.distance | numeraljs:'0.00a'}}</div>
                </td>

                <td md-cell ng-show="vm.showAdded">
                    <div class="md-body-1">{{symbol.added | date:'M/d/yy'}}</div>
                </td>

                <td md-cell class="min-width-50" ng-show="vm.showWhen">
                    <div class="md-body-1 pointer">
                        {{symbol.announceDay}}
                        <md-tooltip>{{symbol.date}}</md-tooltip>
                    </div>
                    <div class="md-body-1">
                        {{symbol.when}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<!--<md-table-pagination md-limit="vm.pageSize" md-limit-options="vm.limitOptions"  md-page-select md-page="vm.curPage" md-total="{{vm.filtered.length}}" class="symbol-pagination"></md-table-pagination>-->

