<md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="View Options" class="md-fab md-accent">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="filter" class="md-fab md-raised md-mini" ng-click="vm.openSidebar('filter-sidebar')">
            <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
        </md-button>
        <md-button aria-label="sort" class="md-fab md-raised md-mini" ng-click="vm.openSidebar('sort-sidebar') ">
            <md-icon md-font-icon="zmdi zmdi-sort-asc"></md-icon>
        </md-button>
        <!-- <md-button ng-hide="vm.layout == 'grid'" aria-label="grid view" class="md-fab md-raised md-mini" ng-class="{active: vm.layout == 'grid'}" ng-click="vm.layout = 'grid'">
            <md-icon md-font-icon="zmdi zmdi-view-module"></md-icon>
        </md-button>
        <md-button ng-hide="vm.layout == 'list'" aria-label="list view" class="md-fab md-raised md-mini" ng-class="{active: vm.layout == 'list'}" ng-click="vm.layout = 'list'">
            <md-icon md-font-icon="zmdi zmdi-view-list"></md-icon>
        </md-button> -->
        <md-button aria-label="download symbols" class="md-fab md-raised md-mini" download="symbols.txt" ng-href="http://automatedinvestmentresearch.com/app/app/air/market-movers/data/symbols.txt">
            <md-icon md-font-icon="zmdi zmdi-download"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
