<md-table-container>
    <table md-table class="md-primary md-data-table symbol-table">
        <thead md-head>
            <tr md-row>
                <th md-column>Symbol</th>
                <th md-column>Price</th>
                <th md-column ng-show="vm.currentPath === '/alerts'">Alert</th>
                <th md-column>Change</th>
                <th md-column>Volume</th>
                <th md-column>Avg Vol</th>
                <th md-column>Short</th>
                <th md-column>Short %</th>
                <th md-column>Vitals</th>
                <th md-column>Headlines</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="symbol in vm.filtered = (vm.symbols | filter:vm.price | filter:vm.volume | filter:vm.avgVol | filter:vm.mktCap | filter:vm.float | filter:vm.short | filter:vm.time) | orderBy: '-percentChange' | orderBy:vm.sortPrice | orderBy:vm.sortPercentChange | orderBy:vm.sortVolume | orderBy:vm.sortAvgVol | orderBy:vm.sortMktCap | orderBy:vm.sortFloat | orderBy:vm.sortShort | orderBy:vm.sortSymbol  | limitTo: vm.pageSize : (vm.curPage - 1) * vm.pageSize | filter:vm.price | filter:vm.volume | filter:vm.avgVol | filter:vm.mktCap | filter:vm.float | filter:vm.short | filter:vm.time">
                <td md-cell>{{symbol.symbol}}</td>
                <td md-cell>{{symbol.price | number:2}}</td>
                <td md-cell ng-show="vm.currentPath === '/alerts'">{{symbol.triggerPrice}}</td>
                <td md-cell ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">{{symbol.dollarChange | number:2}} ({{symbol.percentChange | number:2}}%)</td>
                <td md-cell ng-show="{{symbol.volume == 0}}">-</td>
                <td md-cell ng-hide="{{symbol.volume == 0}}">{{symbol.volume | number:0}}</td>
                <td md-cell ng-show="{{symbol.avgVol == 0}}">-</td>
                <td md-cell ng-hide="{{symbol.avgVol == 0}}">{{symbol.avgVol | number:0}}</td>
                <td md-cell ng-show="{{symbol.sharesShort == 0}}">-</td>
                <td md-cell ng-hide="{{symbol.sharesShort == 0}}">{{symbol.sharesShort | number:0}}</td>
                <td md-cell ng-show="{{symbol.shortPercent == 0}}">-</td>
                <td md-cell ng-hide="{{symbol.shortPercent == 0}}">{{symbol.shortPercent | number:2}}</td>
                <td md-cell><span class="pointer" style="color:#03a9f4" data-symbol="{{symbol.symbol}}" data-open="{{symbol.vitals.open}}"  ng-disabled="dialogForm.$invalid" ng-click="vm.openVitals($event, symbol)">Vitals</span></td>
                <td md-cell><span class="pointer" style="color:#03a9f4" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</span></td>
                <td md-cell>
                    <md-menu class="external-links-menu-container-list">
                        <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={{symbol.symbol}}&type=&dateb=&owner=include&count=100" target="_blank">
                                    <md-button class="md-flat external-links-button" ng-class="['md-primary','md-default-hue']" aria-label="SEC Filings">SEC Filings</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.google.com/finance?q={{symbol.symbol}}&fstype=ii" target="_blank">
                                    <md-button class="md-flat external-links-button" ng-class="['md-primary','md-default-hue']" aria-label="Financial Statements">Statements</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="http://finance.yahoo.com/q/ks?s={{symbol.symbol}}+Key+Statistics" target="_blank">
                                    <md-button class="md-flat external-links-button" ng-class="['md-primary','md-default-hue']" aria-label="Yahoo Finance Statistics">Yahoo! Stats</md-button>
                                </a>
                            </md-menu-item>
                            <md-menu-item class="external-links-menu-item">
                                <a ng-href="https://www.quandl.com/data/SI/{{symbol.symbol}}_SI" target="_blank">
                                    <md-button class="md-flat external-links-button" ng-class="['md-primary','md-default-hue']" aria-label="Short Interest">Short Interest</md-button>
                                </a>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.pageSize" md-limit-options="vm.limitOptions"  md-page-select md-page="vm.curPage" md-total="{{vm.filtered.length}}" class="symbol-pagination"></md-table-pagination>
