
<tri-widget flex flex-xs="100" ng-repeat="symbol in vm.filtered = (vm.symbols | filter: vm.filterFn() | filter: vm.volume() | filter: vm.avgVol()) |
orderBy: '-percentChange' | orderBy:vm.sortPrice | orderBy:vm.sortPercentChange | orderBy:vm.sortVolume |
orderBy:vm.sortAvgVol | orderBy:vm.sortMktCap | orderBy:vm.sortFloat | orderBy:vm.sortShort | orderBy:vm.sortSymbol |
limitTo: vm.pageSize : (vm.curPage - 1) * vm.pageSize" content-padding class="symbol-card">

    <md-card-content>
        <div class="symbol-card-table">
            <div class="symbol-card-row symbol-card-row1">
                <div class="symbol-card-cell"><span class="md-subhead">Symbol</span></div>
                <div class="symbol-card-cell" ng-show="vm.currentPath === '/alerts'"><span class="md-subhead">Alert</span></div>
                <div class="symbol-card-cell"><span class="md-subhead">Price</span></div>
                <div class="symbol-card-cell"><span class="md-subhead">Quick View</span></div>
            </div>
            <div class="symbol-card-row">
                <div class="symbol-card-cell symbol-card-symbol-container">
                    <span class="md-headline">{{symbol.symbol}}</span><br>
                    <span ng-hide="vm.currentPath === '/alerts'" class="md-body-1">{{symbol.name}}</span><br>
                </div>
                <div ng-show="vm.currentPath === '/alerts'" class="symbol-card-cell symbol-card-symbol-container">
                    <span class="md-body-2"> {{symbol.triggerPrice}}</span><br>
                </div>
                <div class="symbol-card-cell">
                    <span class="md-body-2" >{{symbol.price | number:2}}</span><br>
                    <span class="md-body-1" ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">{{symbol.dollarChange | number:2}} ({{symbol.percentChange | number:2}}%)</span><br>
                </div>
                <div class="symbol-card-cell">
                    <span class="md-body-1 pointer" style="color:#03a9f4" data-symbol="{{symbol.symbol}}" data-open="{{symbol.vitals.open}}"  ng-disabled="dialogForm.$invalid" ng-click="vm.openVitals($event, symbol)">Vitals</span><br>
                    <span class="md-body-1 pointer" style="color:#03a9f4" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</span>
                </div>
            </div>
        </div>

        <md-menu class="external-links-menu-container">
            <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item class="external-links-menu-item">
                    <a ng-href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={{symbol.symbol}}&type=&dateb=&owner=include&count=100" target="_blank">
                        <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="SEC Filings">SEC Filings</md-button>
                    </a>
                </md-menu-item>
                <md-menu-item class="external-links-menu-item">
                    <a ng-href="https://www.google.com/finance?q={{symbol.symbol}}&fstype=ii" target="_blank">
                        <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Financial Statements">Statements</md-button>
                    </a>
                </md-menu-item>
                <md-menu-item class="external-links-menu-item">
                    <a ng-href="http://finance.yahoo.com/q/ks?s={{symbol.symbol}}+Key+Statistics" target="_blank">
                        <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Yahoo Finance Statistics">Yahoo! Stats</md-button>
                    </a>
                </md-menu-item>
                <md-menu-item class="external-links-menu-item">
                    <a ng-href="https://www.quandl.com/data/SI/{{symbol.symbol}}_SI" target="_blank">
                        <md-button class="md-flat external-links-button blue" ng-class="['md-primary','md-default-hue']" aria-label="Short Interest">Short Interest</md-button>
                    </a>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always">
            <md-tab label="1D">
                <md-content ng-hide="{{symbol.oneDayNull == 1}}" class="md-padding chart-tab"><a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.oneDay}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.oneDayNull == 1}}" class="md-padding chart-tab">A one day chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
            <md-tab label="3M">
                <md-content ng-hide="{{symbol.threeMonthNull == 1}}" class="md-padding chart-tab">
                    <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img ng-src="{{symbol.threeMonth}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.threeMonthNull == 1}}" class="md-padding chart-tab">A three month chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
            <md-tab label="6M">
                <md-content ng-hide="{{symbol.sixMonthNull == 1}}" class="md-padding chart-tab">
                    <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.sixMonth}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.sixMonthNull == 1}}" class="md-padding chart-tab">A six month chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
            <md-tab label="1YR">
                <md-content ng-hide="{{symbol.oneYearNull == 1}}" class="md-padding chart-tab">
                    <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en"><img src="{{symbol.oneYear}}"></a>
                </md-content>
                <md-content ng-show="{{symbol.oneYearNull == 1}}" class="md-padding chart-tab">A one year chart is not available, check out an <a style="border:none;"target="_blank" href="https://www.tradingview.com/widgetembed/?symbol={{symbol.symbol}}&interval=D&hidesidetoolbar=1&symboledit=1&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Etc%2FUTC&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=en">interactive chart</a> instead.
                </md-content>
            </md-tab>
        </md-tabs>
    </md-card-content>
</tri-widget>
<md-table-pagination md-limit="vm.pageSize" md-limit-options="vm.limitOptions"  md-page-select md-page="vm.curPage" md-total="{{vm.filtered.length}}" class="symbol-pagination"></md-table-pagination>

<div class="attributions">
    Showing: {{vm.filtered.length}} of {{vm.symbols.length}} &middot; List: {{vm.list}} &middot; Updated: {{vm.updated}}<br />
    Data from <a href="http://www.zacksdata.com/" target="_blank">Zacks</a> &middot; Intrinio &middot; Tradier
</div>
