$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;

// import angular material scss
@import "angular-material/angular-material.scss";

// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Custom CSS starts here
// By cwood - cwood@automatedinvestmentresearch.com 2017

// Variables
$blue: #03A9F4;
$dark-gray: #424242;
$medium-gray: #616161;
$light-gray: #9E9E9E;
$lighter-gray: #EEEEEE;
$deep-purple-500: #673ab7;
$yellow: #ffeb3b;

// Global App Styles
body {color: $medium-gray;}
::-webkit-scrollbar {display:none;}
a{color:$blue !important;}

.pointer {cursor:pointer;}

.purple {color: $deep-purple-500 !important;}
.yellow {color: $yellow !important;}
.green {color:#4CAF50 !important;}
.red {color:#F44336 !important;}
.white {color:white !important;}
.blue{color:$blue !important;}
.light-gray{color:$light-gray !important;}
.medium-gray{color:$medium-gray !important;}
.dark-gray{color:$dark-gray !important;}
.blue-background{background-color: $blue !important;}

.float-right{float:right;}
.float-left{float:left;}

.no-padding{padding: 0 !important;}
.no-margin{margin: 0 !important;}
.no-border{border: none !important;}

.layout-margin.ng-scope{text-align:center;}

.long-arrow {width: 10px !important;min-width: 10px;font-size: 15px !important;}

.min-width-50{min-width:50px !important;}

.center-text {text-align:center;}

.pulsate {-webkit-animation: pulse 2s ease-out infinite;animation: pulse 2s ease-out infinite;-webkit-animation-delay: 1s;animation-delay: 1s;}

////////// Elements

// Loaders
.mainLoader{margin:auto;}

// Pulsating Air Logo Loader
#container {
  position: relative;
}

.dot {
    color: white;
    font-size: 48pt;
    text-align: center;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #03a9f4;
    z-index: 10;
    margin: auto;
    position: relative;
    top: 16%;
    transform: translateY(-16%);
}

.pulse {
    background: #03a9f4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    -webkit-animation: pulseLoader 1.5s ease-out infinite;
    -moz-animation: pulseLoader 1.5s ease-out infinite;
    animation: pulseLoader 1.5s ease-out infinite;
    animation-delay: 0s;
    position: relative;
    z-index: 1;
    margin:auto;
    top: 34.5%;
    transform: translateY(-34.5%);
}

@keyframes pulseLoader {
 from { transform: scale(0);opacity: 0.0;}
 25% {transform: scale(0.5);opacity: 0.5;}
 100% {transform: scale(1);opacity: 0.0;}
}

@-moz-keyframes pulseLoader {
 0% { -moz-transform: scale(0);opacity: 0.0;}
 25% {-moz-transform: scale(0);opacity: 0.1;}
 50% {-moz-transform: scale(0.1);opacity: 0.3;}
 75% {-moz-transform: scale(0.5);opacity: 0.5;}
 100% {-moz-transform: scale(1);opacity: 0.0;}
}

@-webkit-keyframes "pulseLoader" {
 0% {-webkit-transform: scale(0);opacity: 0.0;}
 25% {-webkit-transform: scale(0);opacity: 0.1;}
 50% {-webkit-transform: scale(0.1);opacity: 0.3;}
 75% {-webkit-transform: scale(0.5);opacity: 0.5;}
 100% { -webkit-transform: scale(1);opacity: 0.0; }
}

// Tables
table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row { height: 50px; }

// Toolbars
md-toolbar.md-light-blue-theme{color:$medium-gray;z-index: 0;}
.md-subheader.md-light-blue-theme.md-primary {color: $dark-gray; background-color:white;border-top:1px solid #e1e1e1;padding-top:5px;}

// Top Toolbar
.side-menu-badge {color:white !important;}
.side-menu-icon[md-font-icon], .menu-toggle-icon[md-font-icon] {font-size: 22px !important;margin-right: 25px;margin-left: 5px;text-align:center;}
md-toolbar.md-light-blue-white-theme:not(.md-menu-toolbar) {color: $medium-gray;}
md-toolbar.md-light-blue-white-theme:not(.md-menu-toolbar) md-icon {color:$medium-gray;fill: $medium-gray;}

// Left Side Toolbar
md-toolbar.sidebar-left-toolbar.ng-scope._md.md-light-blue-theme._md-toolbar-transitions {color: $medium-gray;}

// Side Menus
.inner-sidenav > md-toolbar > h1 {color: $dark-gray;}
md-sidenav, md-backdrop {position: fixed;}

// Left Side Menu
button.md-primary.md-raised.side-menu-link.md-button.ng-scope.md-light-blue-theme.md-ink-ripple.md-hue-1{color:$blue;}
.md-button.md-light-blue-theme.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-light-blue-theme.md-primary.md-fab:not([disabled]) md-icon{color:$medium-gray;}
.md-button.md-light-blue-theme.md-hue-1.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-light-blue-theme.md-hue-1.md-primary.md-fab:not([disabled]) md-icon{color:$blue;}
.md-button.md-light-blue-theme.md-primary.md-raised:hover {background-color: #EEEEEE !important;}

// Forms
md-input-container.md-light-blue-theme:not(.md-input-invalid).md-input-focused label, md-input-container.md-light-blue-theme:not(.md-input-invalid).md-input-focused md-icon {color: inherit;}
md-input-container.md-light-blue-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-light-blue-theme:not(.md-input-invalid).md-input-resized .md-input{border-color:rgba(0,0,0,0.12);}

// Buttons
//.md-button.md-light-blue-theme.md-accent.md-raised, .md-button.md-light-blue-theme.md-accent.md-fab {color:white;}
//.md-button.md-light-blue-theme.md-primary.md-raised, .md-button.md-light-blue-theme.md-primary.md-fab{background-color:$blue;}

// Checkboxes
md-checkbox.md-light-blue-theme:not(.md-checked) .md-icon {border-color: $light-gray;}

// Fabs
.md-fab-toolbar-background{background-color:$blue !important;}
md-fab-speed-dial.md-fab-bottom-right{position:fixed;}

// List View Fab Icon
md-icon.material-icons.ng-scope.md-light-blue-theme.md-font.zmdi.zmdi-view-list.view-icons{line-height:21px;}

// Tabs
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-light-blue-theme .md-tab.md-active md-icon {color:$blue;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper {background-color: transparent;}
md-tabs.md-light-blue-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {color: $light-gray;border-bottom: 1px solid #fafafa;}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 290px;}

////////// Templates

// Symbol Cards
.symbol-cards-include{margin: 8px;text-align: center;}
.symbol-card {width: 32%;display: inline-block;text-align:left;margin: 8px;}
.symbol-card-table {display:table;width:100%;}
.symbol-card-row {display:table-row;}
.symbol-card-row1 {border-bottom: 1px solid #EEEEEE;}
.symbol-card-row1 .md-subhead {text-transform: uppercase;color: $light-gray;font-size: 13px;}
.symbol-card-cell {display:table-cell;}
.symbol-card-symbol-container {padding-bottom:15px;}
.symbol-card img {max-width: 100%;min-height: 210px;max-height: 225px;}
.chart-tab {height: auto;padding:0;background-color:white !important;}
.symbol-card md-content {text-align: center;}
.symbol-card md-tab-content, .symbol-card md-tabs-content-wrapper{height:auto;padding-top: 10px;}
.symbol-card md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){height:auto;}
.symbol-card md-card-content.ng-scope{padding-bottom:0;}
.external-links-menu-container{position: absolute;top: -5px;right: -15px;color: $light-gray;}
.external-links-menu-container-list > button > md-icon.md-light-blue-theme{color: $light-gray !important;}
.external-links-menu-item{height: auto;min-height: auto;}
.external-links-button{width: 100%;margin: auto;text-transform:none;text-align:center !important;font-weight:500 !important;}

// Symbol Table
.list-symbol{font-size: 20px;font-weight: 400;letter-spacing: 0.005em;color: $medium-gray;cursor:pointer;}
.list-template-container{padding-bottom: 0;}
.list-card{max-width:1550px;margin:auto;}
.list-buttons{position: absolute;top: 13px;right: 0;}
.list-buttons-icon {font-size: 22px !important;}
.symbol-table {background-color:white;}
.symbol-table-container {background-color:white;}
.symbol-table > thead > tr > th {font-size: 15px !important;}
.symbol-table.md-table th.md-column md-icon {height: 18px;min-height: 0px;}
.symbol-table.md-table td.md-cell {font-size:14px; color: $medium-gray;}
.symbol-container {padding-top:10px !important;padding-bottom:10px !important;min-width:85px;}
.price-container {width:140px;text-align: center !important;}
.chart-container {min-width:140px;max-width:150px;padding:10px 40px 10px 0px!important}
.search-container {top:15px;}
md-icon.material-icons.fa.fa-bell-o.toggle-filter-long-up-arrow.md-light-blue-theme {font-size: 13px;padding: 0;top: -1px;position: relative;}

// Symbol Table chart
.x-value {display:none;}
.legend-color-guide {display:none;}
.nvtooltip {background:white; border:1px solid lightgray;}
.nvd3 .nv-groups path.nv-line {stroke-width:2px;}

// Symbol Table Pagination
.symbol-pagination{border-top:none;}
.symbol-card-pagination{justify-content: center;}
md-select-menu.md-light-blue-theme md-content md-option[selected]{color:$blue !important}

// List Metadata
.last-updated {text-align: right;width: 98%;display: block;color: #545454;font-size: 10pt;margin-top: -15px;}
.showing {padding:5px 0px 0px 0px;}
.attributions-list-view{position: absolute;left: 0;width: 100%;}
.attributions{font-size: 12px; color: rgba(0, 0, 0, 0.54);text-align: center;margin-top:25px;}
.attributions a{color: inherit !important;}

// Headlines Dialog
.headline-row1 {font-size: 13px !important; color: $light-gray;}
.headlines-dialog {min-height:100%;}

// Vitals Dialog
.vitals-container {min-height:220px;}
.vitals-table-container {width:50%;float:left;}
.vitals-table-container table {width:95%;}
.vitals-table-container tr {border-bottom:1px solid #EEEEEE; padding:10px;}
.vitals-table-container tr:last-child {border-bottom:none;}
.vitals-table-container tr:hover{background:#EEEEEE;}
.vitals-table-container td {color:$medium-gray;padding:5px 0px 5px 0px;font-size: 19px;line-height: 45px}
.vitals-table-container td:first-child {padding-left:5px;}
.vitals-line-item-responsive {display:none;color: $light-gray !important;font-size: 13px !important;line-height: .1;padding-bottom: 10px;}

// Old Filters
.filter-group md-select {margin-top:0;display: inline-block;padding: 0px 5px 0px 5px;}
.filter-group label {color:rgba(0,0,0,0.38);}

// New Filters
.filter-toggles {height:inherit;float:right;margin:0;}
md-icon.filter-long-up-arrow {vertical-align: baseline;text-align: right;padding-right: 2px;}
.toggle-filter-long-up-arrow {min-height: inherit;min-width: inherit;width: inherit;padding-left: 2px;color: inherit !important;height: inherit;vertical-align: baseline;text-align: right;}
.filter-options{color:$medium-gray;}
.filter-radio-group{width: 95px;display: inline-block;}
.filter-radio-buttons{height:inherit;margin:0;text-transform: lowercase;}
md-radio-button.filter-radio-buttons .md-label{margin-left:15px;}
md-radio-button.filter-radio-buttons.md-checked .md-on { transform: scale(1);background-color: $blue !important; }

// Range Slider
.rzslider .rz-pointer {top: -11px !important;width: 25px !important;height: 25px !important;border-radius: 50% !important;outline:0;background-color: $blue !important;cursor:-webkit-grab !important;}
.rzslider .rz-pointer:active{cursor:-webkit-grabbing !important}
.rzslider .rz-pointer:after {cursor:-webkit-grab;border-color: $blue;background: $blue !important;}
.rzslider .rz-bubble {color:$medium-gray !important;}
// Sorts
.sort-text-center {text-align:center;}
.reset-menu-container {position: absolute;top: 60px;right: 20px;}


////////// Routes

// Dashboard
.dashboard-trophy{font-size: 18px !important;text-align: center;line-height: 22px !important;}
.calendar-heatmap > svg.svg {width:100% !important;}
.list-subhead{float:right;color: rgba(0,0,0,0.54);font-size: 14px;}
.ninety-day-outlook-responsive{display:none;}
.list-subhead md-select {margin:0;}
.card-loader{height: 612px;}
.nv-axis.nv-y .tick line {display:none;}


// Symbol Lookup
.lookup-card {width: 60%;min-width: 300px;margin: auto;padding: 0px 5px 0px 5px;}
.lookup-container {margin-bottom:0;}
.lookup-chart-card {width:100%;height:500px;}
.lookup-chart {height:500px;}
.lookup-vitals-table-container {padding:25px;}
.lookup-vitals-table-container table {width:100%;}
.lookup-vitals-table-container tr {border-bottom:1px solid #EEEEEE; padding:10px;}
.lookup-vitals-table-container tr:last-child {border-bottom:none;}
.lookup-vitals-table-container tr:hover{background:#EEEEEE;}
.lookup-vitals-table-container td {color:$medium-gray;padding:5px 0px 5px 0px;font-size: 19px;line-height: 45px}
.lookup-vitals-table-container td:first-child {padding-left:5px;}
.lookup-widget {background-size: 122px !important;background-repeat: no-repeat;background-position-y: -6px;background-position-x: 10px;text-align: right;}
.lookup-sec{background-image: url(../../../assets/images/sec-logo.png);background-blend-mode: difference;color:rgb(136, 106, 58) !important}
.lookup-google{background-image: url(../../../assets/images/google.png);}
.lookup-quandl{background-image: url(../../../assets/images/quandl.svg);}
.lookup-yahoo{background-image: url(../../../assets/images/yahoo.png);}
#lookup-resources a:hover{text-decoration:none;}

//////////

// Responsive
@media all and (max-width:1280px){ /* Laptop */
    .symbol-card{margin:7px !important;}
}
@media all and (max-width:1175px){.symbol-card{width: 48%;}} /* Laptop */
@media all and (max-width:1125px){.lookup-widget {background-size: 112px !important;background-position-y: -2px;}}
@media all and (max-width:1110px){.calendar-heatmap {display:none;}} /* Laptop */
@media all and (max-width:1085px){.lookup-widget {background-size: 100px !important;background-position-y: 4px;}}
@media all and (max-width:1050px){.lookup-widget {background-size: 90px !important;background-position-y: 8px;}}
@media all and (max-width:1024px){ /* Laptop */
    .lookup-card {width: 85%;}
    .lookup-chart-card {height:400px;}
    .lookup-chart {height:400px;}
}
@media all and (max-width:1000px){.lookup-widget {background-size: 80px !important;background-position-y: 12px;}}
@media all and (max-width:959px){.lookup-widget {background-size: 122px !important;background-position-y: -6px;}}
@media all and (max-width:900px){
    .vitals-line-item-responsive{display:block;}
    .vitals-line-item{display:none;}
}
@media all and (max-width:880px){
    .ninety-day-outlook-responsive{display: block;}
    #ninety-day-outlook{display:none;}
}
@media all and (max-width:830px){
    .filter-group md-select {width:45%;}
}
@media all and (max-width:800px){ /* Nexus 10 */
    .symbol-card{width: 95%;}
}
@media all and (max-width:768px){ /* Generic Tablet */
    .lookup-card {width: 95%;}
    .lookup-chart-card {width:100%;height:375px;}
    .lookup-chart {width:100%;height:375px;}
}

@media all and (max-width:730px){
    .symbol-card{width: 95%;}
    .filter-group label {display:block;}
}

@media all and (max-width:600px){ .md-table-pagination{margin-bottom:75px;}}

@media all and (max-width:525px){ .views-buttons{display: block;margin: auto;}}

@media all and (max-width:500px){ /* Nexus 6P, Nexus 5X */
    .symbol-card{width:97%;margin-bottom:5px;}
    .lookup-chart-card {height:350px;}
    .lookup-chart {height:350px;}
}

@media all and (max-width: 450px){
    .padded-content-page{padding: 16px 0 !important}
    .reset-menu-container {right: 0px;}
}
@media all and (max-width:425px){
    .list-subhead{float:none;display:block;}
}
@media all and (max-width:414px){ /* iPhone 6 Plus, Nexus 5X */

}
@media all and (max-width:375px){ /* iPhone 6 */

}
@media all and (max-width:360px){ /* Nexus 5 */
    .symbol-card-row1 .md-subhead{font-size:11px;}
    .md-body-1{font-size:13px;}
}
@media all and (max-width:325px){ /* iPhone 4, iPhone 5 */
    .symbol-card-row1 .md-subhead{font-size:10px;}
    .lookup-chart-card {height:300px;}
    .lookup-chart {height:300px;}
}



/**
 *  Do not remove this comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
