<h3 class="md-subhead">Calendar Movers</h3>
<md-table-container>
    <table md-table class="md-primary md-data-table symbol-table">
        <thead md-head>
            <tr md-row>
                <th md-column>Symbol</th>
                <th md-column>Price</th>
                <th md-column>Change</th>
                <th md-column>Volume</th>
                <th md-column>When</th>
                <th md-column>Vitals</th>
                <th md-column>Headlines</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="symbol in vm.ecalIntraday |  orderBy:vm.sortPrice | orderBy:vm.sortSymbol  | limitTo: vm.ecalIntradayPageSize : (vm.ecalIntradayCurPage - 1) * vm.ecalIntradayPageSize">
                <td md-cell>{{symbol.symbol}}</td>
                <td md-cell>{{symbol.price | number:2}}</td>
                <td md-cell ng-class="{'green': symbol.dollarChange > 0,'red':symbol.dollarChange < 0}">{{symbol.dollarChange | number:2}} ({{symbol.percentChange | number:2}}%)</td>
                <td md-cell ng-show="{{symbol.volume == 0}}">-</td>
                <td md-cell ng-hide="{{symbol.volume == 0}}">{{symbol.volume | number:0}}</td>
                <td md-cell ng-show="{{symbol.time == 1}}">After Market</td>
                <td md-cell ng-show="{{symbol.time == 2}}">Pre Market</td>
                <td md-cell ng-show="{{symbol.time == 3}}">Intraday</td>
                <td md-cell ng-show="{{symbol.time == 4}}">Not Specified</td>
                <td md-cell><span class="pointer" style="color:#03a9f4" data-symbol="{{symbol.symbol}}" data-open="{{symbol.vitals.open}}"  ng-disabled="dialogForm.$invalid" ng-click="vm.openVitals($event, symbol)">Vitals</span></td>
                <td md-cell><span class="pointer" style="color:#03a9f4" ng-disabled="dialogForm.$invalid" ng-click="vm.openHeadlines($event, symbol)">Headlines</span></td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.ecalIntradayPageSize" md-limit-options="vm.ecalIntradayLimitOptions"  md-page-select md-page="vm.ecalIntradayCurPage" md-total="{{vm.ecalIntraday.length}}"></md-table-pagination>
