
<!-- Price Filter -->
<md-subheader class="md-primary">
    Price: ${{vm.slider.min}} - ${{vm.slider.max}}
    <md-switch class="md-accent filter-toggles" ng-disabled="vm.priceDisabled" ng-model="vm.priceToggle" aria-label="Price Toggle" ng-change="vm.priceFilterCheck(vm.priceToggle)"></md-switch>
</md-subheader>
<div class="md-padding">
    <rzslider
        rz-slider-model="vm.slider.min"
        rz-slider-high="vm.slider.max"
        rz-slider-options="vm.slider.options">
    </rzslider>
</div>
<!-- Volume Filter -->
<md-subheader class="md-primary" ng-hide="vm.currentPath === '/ecalAfter' || vm.currentPath === '/ecalPre'">
    Volume:
    <md-icon class=" material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.volume > 0"></md-icon>
    <md-icon class=" material-icons zmdi zmdi-long-arrow-down toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.volume < 0"></md-icon>
    <span ng-hide="vm.volumeIndicator =='Any'">{{vm.volumeIndicator | numeraljs:'0a'}}</span>
    <span ng-show="vm.volumeIndicator =='Any'">{{vm.volumeIndicator}}</span>
    <md-switch class="md-accent filter-toggles" ng-disabled="vm.volumeDisabled" ng-model="vm.volumeToggle" aria-label="Volume Filter Toggle" ng-change="vm.volumeFilterCheck(vm.volumeDisabled)"></md-switch>
</md-subheader>
<md-radio-group ng-hide="vm.currentPath === '/ecalAfter' || vm.currentPath === '/ecalPre'" class="md-padding filter-options filter-radio-group" ng-model="vm.volume" ng-change="vm.volumeChange()">
    <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterVolume in vm.filterVolume"  ng-model="vm.volumeRadio" value="{{filterVolume.value}}" aria-label="Show symbols over {{filterVolume.text}}" >
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterVolume.text}}
    </md-radio-button>
</md-radio-group>
<md-radio-group ng-hide="vm.currentPath === '/ecalAfter' || vm.currentPath === '/ecalPre'" class="md-padding filter-options filter-radio-group" ng-model="vm.volume" ng-change="vm.volumeChange()">
    <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterVolume in vm.filterVolume"  ng-model="vm.volumeRadio" value="{{filterVolume.value * -1}}" aria-label="Show symbols over {{filterVolume.text}}" >
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterVolume.text}}
    </md-radio-button>
</md-radio-group>

<!-- Average Volume Filter -->
<md-subheader class="md-primary">
    Avg Vol:
    <md-icon class=" material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.avgVol > 0"></md-icon>
    <md-icon class=" material-icons zmdi zmdi-long-arrow-down toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.avgVol < 0"></md-icon>
    <span ng-hide="vm.avgVolIndicator =='Any'">{{vm.avgVolIndicator | numeraljs:'0a'}}</span>
    <span ng-show="vm.avgVolIndicator =='Any'">{{vm.avgVolIndicator}}</span>
    <md-switch class="md-accent filter-toggles" ng-disabled="vm.avgVolDisabled" ng-model="vm.avgVolToggle" aria-label="Average Volume Filter Toggle" ng-change="vm.avgVolFilterCheck(vm.avgVolDisabled)"></md-switch>
</md-subheader>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.avgVol" ng-change="vm.avgVolChange()">
    <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterAdv in vm.filterAdv"  ng-model="vm.avgVolRadio" value="{{filterAdv.value}}" aria-label="Show symbols over {{filterAdv.text}}" >
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterAdv.text}}
    </md-radio-button>
</md-radio-group>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.avgVol" ng-change="vm.avgVolChange()">
    <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterAdv in vm.filterAdv"  ng-model="vm.avgVolRadio" value="{{filterAdv.value * -1}}" aria-label="Show symbols over {{filterAdv.text}}" >
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterAdv.text}}
    </md-radio-button>
</md-radio-group>
<!-- Percent Change Filter -->
<md-subheader class="md-primary">
    Change:
    <span ng-hide="vm.percentChangeIndicator =='Any'">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.percentChangeFilterValue > 0"></md-icon>
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.percentChangeFilterValue < 0"></md-icon>
        {{vm.percentChangeIndicator}}%
    </span>
    <span ng-show="vm.percentChangeIndicator == 'Any'">
        {{vm.percentChangeIndicator}}
    </span>
    <md-switch class="md-accent filter-toggles" ng-disabled="vm.percentChangeDisabled" ng-model="vm.percentChangeToggle" aria-label="Percent Change Filter Toggle" ng-change="vm.percentChangeFilterCheck(vm.percentChangeDisabled)"></md-switch>
</md-subheader>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.percentChangeFilterValue" ng-change="vm.percentChangeChange()">
    <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterPercentChange in vm.filterPercentChange"  ng-model="vm.percentChangeRadio" value="{{filterPercentChange.value}}" aria-label="Show symbols over {{filterPercentChange.text}}">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterPercentChange.text}}
    </md-radio-button>
</md-radio-group>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.percentChangeFilterValue" ng-change="vm.percentChangeChange()">
    <md-radio-button class="md-primary filter-radio-buttons" ng-repeat="filterPercentChange in vm.filterPercentChange"  ng-model="vm.percentChangeRadio" value="{{filterPercentChange.value * -1}}" aria-label="Show symbols over {{filterPercentChange.text}}">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterPercentChange.text}}
    </md-radio-button>
</md-radio-group>

<!-- Float Filter -->
<!--
<md-subheader class="md-primary">
    Float:
    <md-icon class=" material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.float > 0"></md-icon>
    <md-icon class=" material-icons zmdi zmdi-long-arrow-down toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.float < 0"></md-icon>
    <span ng-hide="vm.floatIndicator =='Any'">{{vm.floatIndicator | numeraljs:'0a'}}</span>
    <md-switch class="md-accent filter-toggles" ng-disabled="vm.floatDisabled" ng-model="vm.floatToggle" aria-label="Float Filter Toggle" ng-change="vm.floatFilterCheck(vm.floatDisabled)"></md-switch>
</md-subheader>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.float" ng-change="vm.floatChange()">
    <md-radio-button class="md-accent filter-radio-buttons" ng-repeat="filterFloat in vm.filterFloat"  ng-model="vm.floatRadio" value="{{filterFloat.value}}" aria-label="Show symbols over {{filterFloat.text}}">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterFloat.text}}
    </md-radio-button>
</md-radio-group>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.float" ng-change="vm.floatChange()">
    <md-radio-button class="md-accent filter-radio-buttons" ng-repeat="filterFloat in vm.filterFloat"  ng-model="vm.floatRadio" value="{{filterFloat.value * -1}}" aria-label="Show symbols over {{filterFloat.text}}">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterFloat.text}}
    </md-radio-button>
</md-radio-group>
-->
<!-- Market Cap Filter -->
<!--
<md-subheader class="md-primary">
    Mkt Cap:
    <md-icon class=" material-icons zmdi zmdi-long-arrow-up toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.marketCap > 0"></md-icon>
    <md-icon class=" material-icons zmdi zmdi-long-arrow-down toggle-filter-long-up-arrow" aria-hidden="true" ng-show="vm.marketCap < 0"></md-icon>
    <span ng-hide="vm.marketCapIndicator =='Any'">{{vm.marketCapIndicator | numeraljs:'0a'}}</span>
    <md-switch class="md-accent filter-toggles" ng-disabled="vm.marketCapDisabled" ng-model="vm.marketCapToggle" aria-label="Market Cap Filter Toggle" ng-change="vm.marketCapFilterCheck(vm.marketCapDisabled)"></md-switch>
</md-subheader>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.marketCap" ng-change="vm.marketCapChange()">
    <md-radio-button class="md-accent filter-radio-buttons" ng-repeat="filterMktOver in vm.filterMktOver"  ng-model="vm.marketCapRadio" value="{{filterMktOver.value}}" aria-label="Show symbols over {{filterMktOver.text}}">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-up filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterMktOver.text}}
    </md-radio-button>
</md-radio-group>
<md-radio-group class="md-padding filter-options filter-radio-group" ng-model="vm.marketCap" ng-change="vm.marketCapChange()">
    <md-radio-button class="md-accent filter-radio-buttons" ng-repeat="filterMktUnder in vm.filterMktUnder"  ng-model="vm.marketCapRadio" value="{{filterMktUnder.value * -1}}" aria-label="Show symbols over {{filterMktUnder.text}}">
        <md-icon class=" material-icons zmdi zmdi-long-arrow-down filter-long-up-arrow" aria-hidden="true"></md-icon> {{filterMktUnder.text}}
    </md-radio-button>
</md-radio-group>
-->
