<md-dialog class="order-dialog mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="dialog-toolbar white blue-background">
        <div class="md-toolbar-tools">
            <h2 flex >
                <span translate>{{modal.symbol.symbol}} Vitals</span>
            </h2>
            <md-button class="md-icon-button" ng-controller="dialogController as vm" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon class="white" md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear data-loading="modal.symbol.loading" ng-show="modal.symbol.loading" class="md-accent" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content vitals-container">
        <div class="vitals-table-container" ng-hide="modal.symbol.loading">
            <table>
                <tr>
                   <td class="vitals-line-item">Open</td>
                   <td>
                       <span>{{modal.symbol.open | number:2}}</span>
                       <span class="vitals-line-item-responsive">Open</span>
                   </td>
                </tr>
                <tr>
                   <td class="vitals-line-item">Day Range</td>
                   <td>
                       <span>
                           {{modal.symbol.low | number:2}} - {{modal.symbol.high | number:2}}
                       </span>
                       <span class="vitals-line-item-responsive">Day Range</span>
                   </td>
                </tr>
                <tr>
                   <td class="vitals-line-item">Volume</td>
                   <td>
                       <span>{{modal.symbol.volume | numeraljs:'0.0a'}}</span>
                       <span class="vitals-line-item-responsive">Volume</span>
                   </td>
                </tr>
                <tr>
                   <td class="vitals-line-item">Avg Vol</td>
                   <td>
                       <span>{{modal.symbol.avgVol | numeraljs:'0.0a'}}</span>
                       <span class="vitals-line-item-responsive">Avg Vol (3mo)</span>
                   </td>
                </tr>
            </table>
        </div>
        <div class="vitals-table-container" ng-hide="modal.symbol.loading">
            <table style="margin-left:5%;">
                <tr>
                   <td class="vitals-line-item" data-short={{modal.symbol.sharesShort}}>Shares Short</td>
                   <td>
                       <span ng-show="{{modal.symbol.sharesShort == 0}}">-</span>
                       <span ng-hide="{{modal.symbol.sharesShort == 0}}">{{modal.symbol.sharesShort | numeraljs:'0.0a'}}</span>
                       <span class="vitals-line-item-responsive">Shares Short</span>
                   </td>
                </tr>
                <tr>
                   <td class="vitals-line-item">Short Percent</td>
                   <td>
                       <span ng-show="{{modal.symbol.shortPercent == 0}}">-</span>
                       <span ng-hide="{{modal.symbol.shortPercent == 0}}">{{modal.symbol.shortPercent | number:2}}%</span>
                       <span class="vitals-line-item-responsive">Short Percent</span>
                   </td>
                </tr>
                <tr>
                   <td class="vitals-line-item">Market Cap</td>
                   <td>
                       <span ng-show="{{modal.symbol.marketCap}}">-</span>
                       <span ng-hide="{{modal.symbol.marketCap}}">{{modal.symbol.marketCap | numeraljs:'0a'}}</span>
                       <span class="vitals-line-item-responsive">Market Cap</span>
                   </td>
                </tr>
               <!-- <tr>
                   <td class="vitals-line-item">Float</td>
                   <td>
                       <span>{{modal.symbol.float | numeraljs:'0a'}}</span>
                       <span class="vitals-line-item-responsive">Float</span>
                   </td>
                </tr>-->
            </table>
       </div>
    </md-dialog-content>
</md-dialog>
