<md-select placeholder="Symbol" ng-model="vm.sortSymbol" ng-click="vm.reset();">
    <md-option value="symbol"><md-icon class="material-icons fa fa-sort-alpha-asc sort-text-center" aria-hidden="true"></md-icon> Symbol</md-option>
    <md-option value="-symbol"><md-icon class="material-icons fa fa-sort-alpha-desc sort-text-center" aria-hidden="true"></md-icon> Symbol</md-option>
</md-select>
<md-select placeholder="Price" ng-model="vm.sortPrice" ng-click="vm.reset();">
    <md-option value="price"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> Price</md-option>
    <md-option value="-price"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> Price</md-option>
</md-select>
<md-select placeholder="% Change" ng-model="vm.sortPercentChange" ng-click="vm.reset();">
    <md-option value="percentChange"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> % Change</md-option>
    <md-option value="-percentChange"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> % Change</md-option>
</md-select>
<md-select placeholder="Volume" ng-model="vm.sortVolume" ng-click="vm.reset();">
    <md-option value="volume"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> Volume</md-option>
    <md-option value="-volume"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> Volume</md-option>
</md-select>
<md-select placeholder="AvgVol" ng-model="vm.sortAvgVol" ng-click="vm.reset();">
    <md-option value="avgVol"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> AvgVol</md-option>
    <md-option value="-avgVol"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> AvgVol</md-option>
</md-select>
<md-select placeholder="Mkt Cap" ng-model="vm.sortMktCap" ng-click="vm.reset();">
    <md-option value="marketCap"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> Mkt Cap</md-option>
    <md-option value="-marketCap"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> Mkt Cap</md-option>
</md-select>
<md-select placeholder="Float" ng-model="vm.sortFloat" ng-click="vm.reset();">
    <md-option value="float"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> Float</md-option>
    <md-option value="-float"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> Float</md-option>
</md-select>
<md-select placeholder="Short %" ng-model="vm.sortShort" ng-click="vm.reset();">
    <md-option value="shortPercent"><md-icon class="material-icons fa fa-sort-numeric-asc sort-text-center" aria-hidden="true"></md-icon> Short %</md-option>
    <md-option value="-shortPercent"><md-icon class="material-icons fa fa-sort-numeric-desc sort-text-center" aria-hidden="true"></md-icon> Short %</md-option>
</md-select>

